<html lang="en">
<head>
    <%- include("./templates/head") -%>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <button onclick="location.href='post/create'">Create post</button>
        <button onclick="location.href='user/create'">Create user</button>
    </header>
    <div id="post-display">
        <% posts.forEach((post) => { %>
        <div class="post">
            <h1 class="title"><%= post.title %></h1>
            <p class="author"><%= post.author %></p>
            <p class="description"><%= post.text %></p>
            <button class="read-more-btn">READ MORE</button>
            <p class="posted">Posted <%= post.createdat.getDay() %>-<%= post.createdat.getMonth() %>-<%= post.createdat.getFullYear() %></p>
        </div>
        <% }) %>
    </div>
</body>
</html>